# Игнорировать временные файлы и каталоги
.pharm/
tmp/

# Игнорировать локальные настройки и конфигурации
.env

# Игнорировать зависимости и виртуальные окружения
venv/
node_modules/

# Игнорировать сгенерированные файлы и директории
/build/
/dist/

# Игнорировать логи и отчеты об ошибках
*.log
*.txt
*.err
*.out

# Игнорировать файлы конфигурации среды разработки
.vscode/
.idea/
